<div class="footer-container">
  <!-- <div class="logo-s">
    <img src="../../../assets/logos/wolf-white.png" alt="wolfcycle wolf">
  </div> -->
  <img class="mobile-wolf" src="../../../assets/logos/wolf-white.png" alt="wolfcycle wolf">

  <div class="links-s">
    <div class="top-bar"></div>
    <h2 class="footer-h">LINKS</h2>
    <div class="links-container">
      <p (click)="navigateSection('home')">Home</p>
      <!-- <p (click)="navigateSection('partners')">Partners</p> -->
      <!-- <p (click)="navigateSection('testimonials')">Testimonials</p> -->
      <!-- <p (click)="navigateSection('services')">Services</p> -->
      <p (click)="navigateSection('contact')">Contact</p>
    </div>
  </div>
  <div class="logo-s">
    <img src="../../../assets/logos/wolf-white.png" alt="wolfcycle wolf">
  </div>
  <div class="social-s">
    <div class="top-bar"></div>
    <h2 class="footer-h">SOCIAL</h2>
    <div class="logo-container">
      <a target="_blank" href="https://www.linkedin.com/company/wolfcycle/">
        <img src="../../../assets/logos/[CITYPNG.COM]LinkedIn Square White Icon Transparent PNG - 500x500.png" alt=""
          class="linked-in_logo">
      </a>

    </div>
  </div>
  <!-- <div class="subscribe-s">
    <div class="top-bar"></div>
    <h2 class="footer-h">SUBSCRIBE</h2>
  </div> -->
</div>