<div class="navbar-container">
  <div class="navbar-logo-container">
    <!-- <img (click)="navigateSection('home')" class="wolfcycle-logo" src="../../../assets/logos/WClogo-blackwhite.png"
      alt=""> -->
    <img (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" (click)="navigateSection('home')"
      class="wolfcycle-logo" src="../../../assets/logos/WSlogo-whitegrey.png" alt="">
  </div>

  <div class="navbar-tabs-container">
    <ul class="tabs-ul">
      <li (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" [ngClass]="{'active-tab': count === 1}"
        class="tab" (click)="navigateSection('home')">Home</li>
      <li (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" [ngClass]="{'active-tab': count === 2}"
        class="tab" (click)="navigateSection('partners')">
        Partners</li>
      <li (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" [ngClass]="{'active-tab': count === 3}"
        class="tab" (click)="navigateSection('testimonials')">
        Testimonials</li>
      <li (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" [ngClass]="{'active-tab': count === 4}"
        class="tab" (click)="navigateSection('services')">
        Services</li>
      <li (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" [ngClass]="{'active-tab': count === 5}"
        class="tab" (click)="navigateSection('contact')">Contact
      </li>
    </ul>
  </div>
  <span class="hamburger" style="font-size:2.5rem;cursor:pointer; margin-right: 1rem; color: #E7FF6D"
    (click)="operateNav()">&#9776;</span>
</div>

<div id="mySidenav" class="sidenav" [ngClass]="{'nav-open': navOpen === true}">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="operateNav()">&times;</a> -->
  <a [ngClass]="{'active-mobile-tab': count === 1}" class="mobile-tab" (click)="navigateSection('home')">Home</a>
  <a [ngClass]="{'active-mobile-tab':  count === 2}" class="mobile-tab"
    (click)="navigateSection('partners')">Partners</a>
  <a [ngClass]="{'active-mobile-tab':  count === 3}" class="mobile-tab"
    (click)="navigateSection('testimonials')">Testimonials</a>
  <a [ngClass]="{'active-mobile-tab':  count === 4}" class="mobile-tab"
    (click)="navigateSection('services')">Services</a>
  <a [ngClass]="{'active-mobile-tab': count === 5}" class="mobile-tab" (click)="navigateSection('contact')">Contact</a>

</div>
