<div class="navbar-container">
  <div class="navbar-logo-container">
    <!-- <img class="wolfcycle-logo" src="../../../assets/logos/WClogo-blackwhite.png" alt=""> -->
    <img class="wolfcycle-logo" src="../../../assets/logos/WSlogo-whitegrey.png" alt="">
  </div>

  <div class="navbar-tabs-container">
    <ul class="tabs-ul">
      <li class="tab active-tab">Home</li>
      <li class="tab">Partners</li>
      <li class="tab">Testimonials</li>
      <li class="tab">Services</li>
      <li class="tab">Contact</li>
    </ul>
  </div>
</div>
