<div class="navbar-container">
  <div class="navbar-logo-container">
    <!-- <img class="wolfcycle-logo" src="../../../assets/logos/WClogo-blackwhite.png" alt=""> -->
    <img class="wolfcycle-logo" src="../../../assets/logos/WSlogo-whitegrey.png" alt="">
  </div>

  <div class="navbar-tabs-container">
    <ul class="tabs-ul">
      <li class="tab active-tab" (click)="navigateSection('home')">Home</li>
      <li class="tab" (click)="navigateSection('partners')">Partners</li>
      <li class="tab" (click)="navigateSection('testimonials')">Testimonials</li>
      <li class="tab" (click)="navigateSection('services')">Services</li>
      <li class="tab" (click)="navigateSection('contact')">Contact</li>
    </ul>
  </div>
</div>
