* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.partners-container {
  // background-color: var(--background-grey);
  background-color: white;
  z-index: 999;
}


.section-header {
  display: flex;
  justify-content: center;
  padding-top: var(--section-padding);
}

.section-header h2 {
  font-family: 'Century-Bold';
  color: #605E5E;
  font-size: var(--header-text);
  text-align: center;
}

.partners-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px 10% 25px 10%;
}

.logo {
  object-fit: cover;
  width: 80px;
  height: auto;
  // filter: grayscale(9);
  margin: 1.5rem;
}

.col img {
  width: 80px;
}

.min-logo {
  width: 60px !important;
}

.max-logo {
  width: 90px;
}

.extra-width {
  width: 190px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10%;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(12.5%);   /* flex-basis adjustment for margin */
  // margin: 5px;
}




@media only screen and (min-width: 1600px) {
  .partners-logo-container {
    padding: 25px 15% 25px 15%;
  }

}

@media only screen and (max-width: 1300px) {
  .row {
    padding: 20px 5%;
  }

  .col img {
    width: 60px;
  }
}


@media only screen and (max-width: 1000px) {
  .col {
    flex: 0 0 calc(11.5%);
  }


  .logo {
    object-fit: cover;
    width: 60px;
    margin: .5rem;
  }
  .min-logo {
    width: 50px  !important;
  }

  .max-logo {
    width: 70px;
  }



}

@media only screen and (max-width: 750px) {
  .col {
    flex: 0 0 calc(21%);
  }

  .row {
    padding: 20px 0%;
  }

  .col img {
    width: 75px;
  }

  .logo {
    object-fit: cover;
    width: 60px;
    margin: .5rem;
  }

  .min-logo {
    width: 50px;
  }

  .max-logo {
    width: 70px;
  }


}

@media only screen and (max-width: 450px) {
  .partners-logo-container {
    padding: 20px 10% 10px 10%;
  }

  .logo {
    object-fit: cover;
    width: 70px;
    margin: .2rem;
  }

  .min-logo {
    width: 60px;
  }

  .max-logo {
    width: 80px;
  }


}
