<div class="partners-container">
  <div class="section-header">
    <h2>OUR PARTNERS</h2>
  </div>

  <div class="row">
    <div class="col">
      <img
        src="../../../assets/partners-new/Buffalo Bandits.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/pngfind.com-las-vegas-sign-png-13102.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/connecticut-sun.svg"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/Dallas-Stars-Logo-PNG.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/Greenville_Swamp_Rabbits_logo.svg.png"
        alt=""
        class="logo"
      />
    </div>

    <div class="col">
      <img
        src="../../../assets/partners/Atlanta_Dream_logo.svg.png"
        alt=""
        class="logo min-logo"
      />
    </div>

    <div class="col">
      <img
        src="../../../assets/partners/buffalo-sabres-logo.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/mexico_city_capitanes.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img src="../../../assets/partners/bulls.png" alt="" class="logo" />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/WNBA.png"
        alt=""
        class="logo max-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners/Seattle_Storm_(2021)_logo.svg.png"
        alt=""
        class="logo"
      />
    </div>

    <div class="col">
      <img
        src="../../../assets/partners-new/new-york-city-fc-logo-transparent.png"
        alt=""
        class="logo"
      />
    </div>

    <!-- agua caliente -->
    <div class="col">
      <img
        src="../../../assets/updated-partners/Ontario_Clippers_logo.svg.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/rochester-americans.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/Rochester_Knighthawks_logo_2019.svg.png"
        alt=""
        class="logo"
      />
    </div>

    <!-- remove -->
    <div class="col">
      <img
        src="../../../assets/updated-partners/carolina-hurricanes-logo.png"
        alt=""
        class="logo max-logo"
      />
    </div>

    <div class="col">
      <img
        src="../../../assets/partners-new/Seattle_Kraken (3).png"
        alt=""
        class="logo min-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners/Texas-Legends-01.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/partners-new/USC_Trojans_logo.svg-1.png"
        alt=""
        class="logo sc-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/Columbus_Blue_Jackets_logo.svg.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/Detroit_City_FC_logo.svg.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/tampa-bay-rays-logo-0.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/FC_Cincinnati_primary_logo_2018.svg.png"
        alt=""
        class="logo sc-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/Henderson_Silver_Knights_logo.svg.webp"
        alt=""
        class="logo sc-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/Minnesota_Wild.svg.png"
        alt=""
        class="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/Vegas_Golden_Knights_logo.svg.png"
        alt=""
        class="logo sc-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/NBA_G_League_Ignite_logo_(2022).svg.png"
        alt=""
        class="logo sc-logo"
      />
    </div>
    <div class="col">
      <img
        src="../../../assets/updated-partners/toppng.com-two-bit-circus-logo-944x344.png"
        alt=""
        class="logo max-logo"
      />
    </div>
  </div>
</div>
