* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.partners-container {
  background-color: var(--background-grey);
  z-index: 999;
}


.section-header {
  display: flex;
  justify-content: center;
  padding-top: var(--section-padding);
}

.section-header h2 {
  font-family: 'Century-Bold';
  color: #605E5E;
  font-size: var(--header-text);
  text-align: center;
}


@media only screen and (min-width: 1500px) {


}
