<div class="partners-container">
  <div class="section-header">
    <h2>OUR PARTNERS</h2>
  </div>

  <div class="partners-logo-container">

    <img src="../../../assets/partners/Long-Island-Nets-01.png" alt="long island nets logo" class="logo ">
    <img src="../../../assets/partners/new-york-city-fc-logo.png" alt="NYC fc logo" class="logo">
    <img src="../../../assets/partners/PngItem_4098187.png" alt="hoonigan logo" class="logo extra-width">
    <img src="../../../assets/partners/swamprabbits.png" alt="swamp rabbits logo" class="logo">
    <img src="../../../assets/partners/Texas-Legends-01.png" alt="texas legends logo" class="logo extra-width">
    <img src="../../../assets/partners/usc.png" alt="usc logo" class="logo">
    <img src="../../../assets/partners/bulls.png" alt="bulls logo" class="logo">
    <img src="../../../assets/partners/cirque.png" alt="cirque logo" class="logo extra-width">
    <img src="../../../assets/partners/Allstate-Logo.wine.png" alt="allstate logo" class="logo extra-width">
    <img src="../../../assets/partners/buffalo-sabres-logo.png" alt="buffalo sabres logo" class="logo">

    <img src="../../../assets/partners/lakelandmagic.png" alt="lakeland magic logo" class="logo">
  </div>
</div>
