<div class="demo-container">
  <div class="section-header">
    <h2>REQUEST DEMO</h2>
    <p>Please fill your contact details below:</p>
  </div>

  <div class="demo-form-container">
    <input placeholder="Name" type="text" class="demo-input">
    <input placeholder="Email" type="text" class="demo-input">
    <input placeholder="Subject" type="text" class="demo-input">
    <input placeholder="Phone" type="text" class="demo-input">
  </div>

  <div class="submit-container">
    <button class="submit-btn">Submit</button>
  </div>

</div>
