<div class="demo-container">
  <div class="section-header">
    <h2>REQUEST DEMO</h2>
    <p>Please fill your contact details below:</p>
  </div>

  <div class="demo-form-container">
    <input (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" placeholder="Name" type="text"
      class="demo-input">
    <input (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" placeholder="Email" type="text"
      class="demo-input">
    <input (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" placeholder="Subject" type="text"
      class="demo-input">
    <input (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" placeholder="Phone" type="text"
      class="demo-input">
  </div>

  <div class="submit-container">
    <button (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" class="submit-btn">Submit</button>
  </div>

</div>
