<div class="demo-container">
  <div class="section-header">
    <h2>REQUEST DEMO</h2>
    <p>Please fill your contact details below:</p>
  </div>
  <form action="https://formsubmit.co/5aa1a6c1ada4bbe5a1340cfa0a3aaf81" method="POST">
    <div class="demo-form-container">
      <input name="name" type="text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)"
        (input)="formInput()" [(ngModel)]="inputs.name" placeholder="Name" type="text" class="demo-input">
      <input name="email" type="email" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)"
        (input)="formInput()" [(ngModel)]="inputs.email" placeholder="Email" type="text" class="demo-input">
      <input name="subject" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" placeholder="Subject"
        (input)="formInput()" [(ngModel)]="inputs.subject" type="text" class="demo-input">
      <input name="phone" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" placeholder="Phone"
        (input)="formInput()" [(ngModel)]="inputs.phone" type="text" class="demo-input">
    </div>

    <div class="submit-container">
      <input type="submit" value="Submit" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)"
        [ngClass]="{'disable': disableBtn === true}" class="submit-btn" disabled="{{disableBtn}}">
    </div>
  </form>
</div>
