* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-container {
  height: 90vh;
  width: 100%;
  background-color: var(--background-grey);
  // background-color: var(--main-yellow);

}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--section-padding);
}

.section-header h2 {
  font-family: 'Century-Bold';
  color: #605E5E;
  // color:  var(--dark-grey);
  font-size: var(--header-text);
  text-align: center;
  margin-bottom: 80px;
}

.section-header p {
  font-family: 'Century-Bold';
  color: #605E5E;

  // color:  var(--dark-grey);
  font-size: var(--subhead-text);
  text-align: center;
  margin-bottom: 75px;
}

.demo-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-input {
  width: 700px;
  background-color: #D9D9D9;
  // background-color: var(--dark-grey);
  cursor: none;
  border: none;
  padding: 8px;
  margin-bottom: 12px;
}

input::placeholder {
  font-family: 'Century-Gothic';
  color: #605E5E;
  // color: var(--main-yellow)
}

.submit-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
  font-family: 'Century-Bold';
  font-size: 1rem;
  padding: .75rem 3rem;
  background-color: transparent;
  border: 5px solid  var(--dark-grey);
  color:  var(--dark-grey);
  cursor: none;
  transition: .2s;
}

.submit-btn:hover {
  // background-color: var(--main-yellow);
  background-color: rgb(174, 174, 174);
  transition: .2s;
}

// @media only screen and (min-width: 1500px) {
//   .section-header h2 {
//     font-size: 5rem;
//   }

// }

@media only screen and (max-width: 1000px) {

  .demo-input {
    width: 80%;
  }

  .section-header h2 {
    margin-bottom: 60px;
  }

  .section-header p {
    margin-bottom: 60px;
  }

}

@media only screen and (max-width: 750px) {
  .demo-input {
    cursor: pointer;
  }

  .submit-btn {
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .demo-input {
    width: 90%;
  }

}
