<div class="landing-container">

  <div class="landing-text-container">
    <div class="wolfcycle-logo">
      <img src="../../../assets/logos/WSlogo-whitegrey.png" alt="">
      <!-- <img src="../../../assets/logos/WClogo-blackwhite.png" alt=""> -->
    </div>

    <div class="container">
      <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
      <!-- <p class="typed-text"></p><span class="cursor"></span> -->
    </div>

    <div class="landing-btn">
      <button (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">SCHEDULE DEMO</button>
    </div>

  </div>

  <div class="wolf-img-container">
    <img class="wolfcycle-wolf" src="../../../assets/logos/wolf-black.png" alt="wolfcycle logo">
  </div>
</div>

<div class="navigation-dots-container">
  <div class="dot one" [ngClass]="{'active-dot': count === 1}" (mouseenter)="hoverFunction(true)"
    (mouseleave)="hoverFunction(false)"></div>
  <div class="dot two" [ngClass]="{'active-dot': count === 2}" (mouseenter)="hoverFunction(true)"
    (mouseleave)="hoverFunction(false)"></div>
  <div class="dot three" [ngClass]="{'active-dot': count === 3}" (mouseenter)="hoverFunction(true)"
    (mouseleave)="hoverFunction(false)"></div>
  <div class="dot four" [ngClass]="{'active-dot': count === 4}" (mouseenter)="hoverFunction(true)"
    (mouseleave)="hoverFunction(false)"></div>
  <div class="dot five" [ngClass]="{'active-dot': count === 5}" (mouseenter)="hoverFunction(true)"
    (mouseleave)="hoverFunction(false)"></div>
</div>
