* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-container {
  height: 100vh;
  background-color: #353535;
  padding-top: 100px;
  overflow: clip;
}

.landing-text-container {

}

.wolfcycle-logo img {
  object-fit: cover;
  max-width: 20rem;
}

.wolf-img-container {
  position: relative;
}

.wolfcycle-wolf {
  position: absolute;
  height: 1000px;
  top: -200px;
  right: 100px;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 9999;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  z-index: 9999;
}
.container p span.typed-text {
  font-weight: normal;
  font-family: 'Century-Gothic';
  color: #dd7732;
  z-index: 9999;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
  z-index: 9999;
}
.container p span.cursor.typing {
  animation: none;
  z-index: 9999;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
