<div class="services-container">
  <div class="section-header">
    <h2>OUR SERVICES</h2>
  </div>

  <div class="services-content_container">
    <div class="service">
      <div class="service-title">
        <h2 class="number">01 /</h2>
        <h2 class="title"> BETTER DATA</h2>
      </div>
      <div class="service-description pad-right">
        <p>Lorem ipsum dolor sit amet. Aut commodi voluptatum At aspernatur dolore ut reiciendis quisquam deleniti quia
          es quisquam animi est nemo sapiente a rerum eligendi in dicta autem doloremque veniam. At ratione consequuntur
          aut cumque voluptatem aut tenetur omnis qui beatae omnis non maiores voluptas At itaque iure a ullam optio.
        </p>
      </div>
    </div>

    <div class="service">
      <div class="service-title">
        <h2 class="number">02 /</h2>
        <h2 class="title"> BETTER EFFICIENCY</h2>
      </div>
      <div class="service-description pad-right">
        <p>Lorem ipsum dolor sit amet. Aut commodi voluptatum At aspernatur dolore ut reiciendis quisquam deleniti quia
          es quisquam animi est nemo sapiente a rerum eligendi in dicta autem doloremque veniam. At ratione consequuntur
          aut cumque voluptatem aut tenetur omnis qui beatae omnis non maiores voluptas At itaque iure a ullam optio.
        </p>
      </div>
    </div>

    <div class="service">
      <div class="service-title">
        <h2 class="number">03 /</h2>
        <h2 class="title"> BETTER MARGINS</h2>
      </div>
      <div class="service-description pad-right">
        <p>Lorem ipsum dolor sit amet. Aut commodi voluptatum At aspernatur dolore ut reiciendis quisquam deleniti quia
          es quisquam animi est nemo sapiente a rerum eligendi in dicta autem doloremque veniam. At ratione consequuntur
          aut cumque voluptatem aut tenetur omnis qui beatae omnis non maiores voluptas At itaque iure a ullam optio.
        </p>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" class="contact-btn">CONTACT
      US</button>
  </div>
</div>
