<div class="services-container">
  <div class="section-header">
    <h2>OUR SERVICES</h2>
    <p>BETTER DATA. BETTER EFFICIENCY. BETTER MARGINS.</p>
  </div>

  <div class="services-content_container">
    <div class="service">
      <div class="service-title">
        <h2 class="number">01 /</h2>
        <h2 class="title">VIRTUAL ASSISTANTS</h2>
      </div>
      <div class="service-description pad-right">
        <p>
          Our AI Virtual Assistants work tirelessly to find more qualified opportunities by automatically engaging your
          leads with carefully crafted, human-like, two-way conversations. Our AI uses natural language processing (NLP)
          to communicate over email, chat and SMS.</p>
      </div>
    </div>

    <div class="service">
      <div class="service-title">
        <h2 class="number">02 /</h2>
        <h2 class="title">REPUTATION MANAGEMENT</h2>
      </div>
      <div class="service-description pad-right">
        <p>Reputation Management allows you to track what consumers are saying about you, improves your visibility in
          local search and helps you see how you stack up against the competition. Let WolfCycle manage your online
          reputation so you can spend your time doing what you do best – serving your customers!
        </p>
      </div>
    </div>

    <div class="service">
      <div class="service-title">
        <h2 class="number">03 /</h2>
        <h2 class="title">DIGITAL ADVERTISING</h2>
      </div>
      <div class="service-description pad-right">
        <p>We bring the BUZZ to your online advertising with a fully-managed service that will improve retention and
          revenue. Every ad is specifically targeted to create real-world results with impressions, clicks, in-store
          visits and phone calls – the intention of making those browsers convert into customers. as our strategists
          manage and create your campaigns
        </p>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)" class="contact-btn"
      (click)="navigateSection('contact')">CONTACT
      US</button>
  </div>
</div>
