/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-yellow: #FAFE2A;
  --dark-grey: #353535;
  --background-grey: #E6E6E6;
  --section-padding: 3rem;
  --header-text: 4rem;
  --subhead-text: 1.3rem;
}

@media only screen and (max-width: 1000px) {
  :root {
    --header-text: 3.5rem;
    --subhead-text: 1.2rem;
  }

}

@media only screen and (max-width: 550px) {
  :root {
    --header-text: 3rem;
    --subhead-text: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --header-text: 2.5rem;
    --subhead-text: .9rem;
  }
}

 @font-face {
  font-family: 'Century-Gothic';
  src: url('./assets/Fonts/century-gothic/Century Gothic.ttf');
 }
 @font-face {
  font-family: 'Century-Bold';
  src: url('./assets/Fonts/century-gothic/GOTHICB.TTF');
 }

