/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 @font-face {
  font-family: 'Century-Gothic';
  src: url('./assets/Fonts/century-gothic/Century Gothic.ttf');
 }
 @font-face {
  font-family: 'Century-Bold';
  src: url('./assets/Fonts/century-gothic/GOTHICB.TTF');
 }

